<html lang="en">
<head>
    <link rel="shortcut icon" type="image/jpg" href="../static/blue.jpg"/>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
</head>


<body>
    <div class="container">
        <form action="{{ url_for('login') }}" method="POST" id="form2">
            {{ form_login.csrf_token }}

            <label for="textbox3">Email</label>
            {{ form_login.email }}
            <label for="textbox4">Password</label>
            {{ form_login.pass1 }}
            
            {{form_login.sub}}

            {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes>
              {% for message in messages %}
                {{ message }}
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}

        </form>
        <p>Don't have an Account yet? <a href="/signup">Sign Up</a></p>
    </div>
</body>
</html>